<h1>{{title}}</h1>
{{!-- TODO: add navigation to add a new breakfast --}}
{{#if user}}
<a href="/breakfast/add">Add a new breakfast</a>
{{/if}}
{{!-- TODO: add a table to display breakfasts from MongoDB --}}
<table class="table table-striped table-hover">
  <thead>
    <th>bread</th>
    <th>coffee</th>
    <th>tea</th>
    <th>sandwich</th>
    <th>oatmeal</th>
    <th>Fruits</th>
    <th>juice</th>
    <th></th>
  </thead>
  <tbody>
  {{#each dataset}}
    <tr>
      <td>{{this.bread}}</Td>
      <td>{{this.coffee}}</Td>
      <td>{{this.tea}}</Td>
      <td>{{this.sandwich}}</Td>
      <td>{{this.oatmeal}}</Td>
      <td>{{this.fruits}}</Td>
      <td>{{this.juice}}</Td>
      <td>
        {{#if ../user}}
        <a href="/breakfast/edit/{{this._id}}" class="button1">Edit</a>
        <a href="/breakfast/delete/{{this._id}}" class="button1" onclick="confirmDeletion()">Delete</a>
        {{/if}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>