<h1>{{title}}</h1>
{{!-- TODO: add navigation to add a new lunch --}}
{{#if user}}
<a href="/lunch/add">Add a new Lunch</a>
{{/if}}
{{!-- TODO: add a table to display breakfasts from MongoDB --}}
<table class="table table-striped table-hover">
  <thead>
    <th>salad</th>
    <th>yogurt</th>
    <th>avocado</th>
    <th>vegies</th>
    <th>rice</th>
    <th>soup</th>
    <th></th>
  </thead>
  <tbody>
  {{#each dataset}}
    <tr>
      <td>{{this.salad}}</Td>
      <td>{{this.yogurt}}</Td>
      <td>{{this.avocado}}</Td>
      <td>{{this.vegies}}</Td>
      <td>{{this.rice}}</Td>
      <td>{{this.soup}}</Td>
      <td>
        {{#if ../user}}
        <a href="/lunch/edit/{{this._id}}" class="button1">Edit</a>
        <a href="/lunch/delete/{{this._id}}" class="button1" onclick="confirmDeletion()">Delete</a>
        {{/if}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>